<nav class="navbar navbar-dark navbar-expand-lg main-navbar sticky-top" id="mainNavbar ">
    <a class="navbar-brand" href="/">Health-E</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <% if(!currentUser || currentUser.usertype==0){ %>
                <a class="nav-link" href="/specialties">Book Your Appointment</a>
                <% } %>
            </li>

        </ul>
        <div class="navbar-nav ml-auto">
            <% if(!currentUser) {%>
            <a class="nav-link" href="/users/login">Login</a>
            <a class="nav-link" href="/users/register">Register</a>
            <% } else {%>
            <a class="nav-link" href="/myappointments">My Appointments</a>
            <a class="nav-link" href="/mychats">My Chats</a>
            <a class="nav-link" href="/myprofile">My Profile</a>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
        </div>

    </div>
</nav>